#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i1.jpg?h=f9d2620aeeed4dee85b270d67e4af9b3);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i2.jpg?h=458de38fcc0c7cdd8ce771257dc0d3fe);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i3.jpg?h=95d236d89e57f20c8c04818cfa5a1d54);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

